
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ExtensionSettings</key>
		<dict>
			<key>beakpmhehilljkbehdgcnfnhbopfgmpn</key>
			<dict>
				<key>installation_mode</key>
				<string>force_installed</string>
			</dict>
		</dict>
                <key>ExtensionPolicies</key>
		<!-- Chrome policies should be outside of ExtensionSettings -->
	</dict>
</plist>